.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #90CDF4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 2em;
  color: white;
  padding-bottom: 2em;
  padding-top: 2em;
}

.App-footer {
  background-color: #90CDF4;
}

.App-link {
  color: #61dafb;
}

.Felt {
  margin-left: 6px;
  margin-bottom: 4px;
}

.Quake-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 1em;
  padding-right: 2em;
  padding-left: 2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
